:root {
    --primary-100: #10b981;
    --primary-200: #059669;
    --primary-300: #34d399;

    --accent-100: #00ffaa;
    --accent-200: #ffecda;

    --text-100: #ffffff;
    --text-200: #e0e0e0;

    --bg-100: #1b3b36;
    --bg-200: #264e47;
    --bg-300: #365953;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-100: #ffffff;
        --text-200: #e0e0e0;

        --bg-100: #1b3b36;
        --bg-200: #264e47;
        --bg-300: #365953;
    }
}
