@import "tailwindcss";
@import "../config/colors.css";
@import "./tailwind.css";

@config "../tailwind.config.js";

html {
    display: grid;
    min-height: 100%;
}

html,
body {
    height: 100%;
    background: var(--color-background);
    color: var(--color-text);
    font-family: "Poppins", sans-serif;
    /* letter-spacing: 0.8px; */
    font-weight: 300;
}

@layer base {
    * {
        border-color: var(--color-border);
    }
}

#root {
    width: min(100%, 1280px);
    height: 100%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.8);
}

button {
    cursor: pointer;
}

.soft-div {
    position: relative;
    mask-image: linear-gradient(to right, transparent 0%, black 15%, black 50%, transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    transition: mask-image 0.3s ease;
    transition-duration: 100ms;
}

.soft-div:hover {
    mask-image: linear-gradient(to right, black 0%, black 100%);
}
