@theme {
    --color-background: var(--bg-100);
    --color-card: var(--bg-100);
    --color-panel: var(--bg-200);
    --color-panel-hover: var(--bg-200);
    --color-border: var(--bg-300);

    --color-text: var(--text-100);
    --color-text-muted: var(--text-200);
    --color-foreground: var(--text-100);
    --color-ring: var(--primary-100);

    --color-primary: var(--primary-100);
    --color-primary-hover: var(--primary-200);
    --color-primary-soft: var(--bg-200);
    --color-primary-foreground: var(--text-100);

    --color-accent: var(--accent-100);
    --color-accent-soft: var(--accent-200);

    --color-overlay: var(--bg-300);

    --color-input: var(--color-panel);
    --color-secondary: var(--color-panel);
    --color-secondary-foreground: var(--color-text);
    --color-muted: var(--color-panel);
    --color-muted-foreground: var(--color-text-muted);
    --color-popover: var(--color-panel);
    --color-popover-foreground: var(--color-text);
    --color-card-foreground: var(--color-text);
    --color-card-border: var(--color-border);
    --color-destructive: var(--color-accent);
    --color-destructive-foreground: var(--color-primary-foreground);
    --color-accent-foreground: var(--color-text);

    --color-app-background: var(--color-background);
    --color-primary-text: var(--primary-200);
    --color-card-hover: var(--color-panel-hover);
    --color-card-dark: var(--color-panel);
    --color-primary-button: var(--color-primary);

    --color-text-100: var(--text-100);
    --color-text-200: var(--text-200);

    --color-bg-100: var(--bg-100);
    --color-bg-200: var(--bg-200);
    --color-bg-300: var(--bg-300);

    --color-farm: var(--accent-soft);
    --color-alm: var(--primary);
}
