@theme {
    --color-app-background: var(--bg-100);

    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);

    --color-accent-100: var(--accent-100);
    --color-accent-200: var(--accent-200);

    --color-text-100: var(--text-100);
    --color-text-200: var(--text-200);

    --color-bg-100: var(--bg-100);
    --color-bg-200: var(--bg-200);
    --color-bg-300: var(--bg-300);

    --color-text: var(--text-100);
    --color-border: var(--bg-300);
    --color-input: var(--bg-100);
    --color-ring: color-mix(in srgb, var(--text-200) 40%, transparent);
    --color-background: var(--bg-100);
    --color-foreground: var(--text-100);

    --color-primary: var(--primary-100);
    --color-primary-foreground: var(--text-100);
    --color-primary-button: var(--primary-100);
    --color-primary-text: var(--primary-300);

    --color-secondary: var(--bg-200);
    --color-secondary-foreground: var(--text-200);

    --color-destructive: var(--accent-100);
    --color-destructive-foreground: var(--text-100);

    --color-muted: var(--bg-300);
    --color-muted-foreground: var(--text-200);
    --color-muted-primary: var(--primary-100);

    --color-accent: var(--accent-100);
    --color-accent-foreground: var(--accent-200);

    --color-popover: var(--bg-200);
    --color-popover-foreground: var(--text-100);

    --color-card: var(--bg-200);
    --color-card-foreground: var(--text-100);
    --color-card-hover: color-mix(in srgb, var(--bg-200) 50%, transparent);
    --color-card-dark: var(--bg-100);
    --color-card-light: var(--bg-300);
    --color-card-border: var(--bg-300);
    --color-card-border-focus: color-mix(in srgb, var(--text-200) 60%, transparent);

    --color-farm: #f8d81c;
    --color-alm: #74f7df;

    --shadow-popover: 0 0 15px rgba(0, 0, 0, 0.4);
}
